
/* first section style */

/* heading-content style start */
.first-section .heading-content{
    text-align: center;
    position: relative;
    padding-top: 88px;
}
.first-section .heading-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 218px;
    background: #F0F0F0;
    z-index: -1;
}
.first-section .heading-content .heading{
    color: #454545;
    font-weight: bold;
    margin-bottom: 14px;
}
.heading-content .heading span{
    color: #931344;
    font-style: italic;
}

/* Searchbar style */
.first-section .heading-content .searchbar{
    width: 90%;
    padding: 15px 30px;
    background: #FFFFFF;
    box-shadow: 0px 3px 56px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    margin: 25px auto 0;
}
.searchbar .profile-wrapper{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
.searchbar .input-data{
    font-size: 17px;
    line-height: 21px;
    font-weight: 500;
    flex-grow: 1;
    text-align: start;
 }
 .searchbar .inputfield-btn{
    background: transparent;
    cursor: pointer;
 }
 .searchbar .inputfield-btn:hover span{
    opacity: 0.9;
 }
 .searchbar .inputfield-btn span{
    font-size: 38px;
 }
 .searchbar .inputfield-btn .icon-send-icon{
    margin-left: 25px;
 }
/* heading-content style end */

/* seletion option slider styel start */
.first-section .selectionopt-slider{
    width: 100%;
    margin: 36px auto 0;
    position: relative;
 }
 .owl-carousel.selectionopt-carousel{
    width: 80%;
    margin: 0 auto;
 }
 .owl-carousel .owl-stage-outer{
    width: 100%;
    z-index: 1;
 }
 .selectionopt-slider .selectionopt-carousel
 .slide a{
    position: relative;
    white-space: nowrap;
    padding-right: 20px;
 }
 .selectionopt-slider .selectionopt-carousel
 .slide a:hover{
    color: #931344;
 }
 .selectionopt-slider .selectionopt-carousel
 .slide a::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #393939;
    top: 50%;
    left: -20px;
    transform: translate(20%, -50%);
 }

.owl-carousel.selectionopt-carousel .owl-nav{
    position: absolute;
    top: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    left: -10px;
    width: 88%;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    align-items: center;
    z-index: 0;
}
.owl-carousel.selectionopt-carousel 
.owl-nav button.owl-next{
    transform: rotate(180deg);
}

.owl-carousel.selectionopt-carousel 
.owl-nav .owl-prev, 
.owl-carousel.selectionopt-carousel 
.owl-nav .owl-next{
    border: none !important;
    background-color: transparent;
}
.owl-carousel.selectionopt-carousel 
.owl-nav button.owl-prev:hover,
.owl-carousel.selectionopt-carousel 
.owl-nav button.owl-next:hover
{
    border: none !important;
    background-color: transparent;
}

.selectionopt-carousel button.owl-prev:after, button.owl-next:after{
    display: none;
}

/* Latest */
.latestupdate-wrapper{
    padding-left: 47px;
    margin-top: 85px;
    gap: 30px;
    position: relative;
}
.latestupdate-wrapper .title{
    width: 10%;
}
.latestupdate-wrapper .latestupdate-slider{
    width: calc(90% - 30px);
}

.latestupdate-wrapper .title h4{
    font-weight: bold;
    font-size: 27px;
    line-height: 27px;
}
.latestupdate-wrapper .title p{
    font-weight: bold;
    font-size: 15px;
}
.latestupdate-wrapper .latestupdate-carousel .updates{
    width: 236px;
    height: 142px;
    border-radius: 10px;
    background-image: url('../images/latestcarousel-img.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding: 9px 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.latestupdate-carousel .updates .first-para{
    font-size: 18px;
    line-height: 18px;
    width: 108px;
    font-weight: bold;
}
.latestupdate-carousel .updates .second-para{
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
}
.latestupdate-carousel .updates .third-para{
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}

.latestupdate-carousel .updates .first-para,
.latestupdate-carousel .updates .second-para,
.latestupdate-carousel .updates .third-para{
    margin-bottom: 10px;
}
.latestupdate-carousel .owl-item{
    width: fit-content !important;
}
/* owl-dots */
.latestupdate-carousel.owl-theme .owl-nav.disabled+.owl-dots {
    left: 55px;
    top: 70px;
    right: auto;
}
.latestupdate-carousel.owl-theme .owl-dots .owl-dot span{
    border: 1px solid #707070;
}
.latestupdate-carousel.owl-theme .owl-dots .owl-dot.active span{
    background: #222222;
    border: 1px solid #707070;
}

/* Complaint content */
.complaint-wrapper{
    margin-top: 16px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.complaint-wrapper .title{
    padding: 16px 40px 16px 55px;
    background-color: #121212;
    border-top-right-radius: 20px;
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
}
.complaint-wrapper .title::after{
    content: '';
    top: 22px;
    right: -4px;
    position: absolute;
    width: 20px;
    height: 51px;
    background: #121212;
    transform: rotate(-8deg);
}
.complaint-wrapper .title h3{
    font-size: 19px;
    line-height: 19px;
    font-weight: bold;
}
.complaint-wrapper .title a{
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
.complaint-wrapper .title a:hover{
    color: #fffffff3;
}

.complaint-wrapper .second-part{
    height: 12px;
    flex-grow: 1;
    background-color: #121212;
    align-self: flex-end;
}

/* Easy Banking and Quick link section */
.videos-wrapper{
    padding: 18px 24px;
    position: relative;
    z-index: 0;
    color: #FFFFFF;
}
.videos-wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.videos-wrapper::after {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/videosec-bg.svg);
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -1;
}
.videos-wrapper .videos-sec{
    border-bottom: 1px solid #FFFFFF;
}

.videos-wrapper .videos-sec .hashtag-text{
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
}
.videos-wrapper .videos-sec .para{
    font-size: 16px;
    line-height: 18px;
    width: 78%;
}
.videos-wrapper .videos-sec .video-title{
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    margin-top: 40px;
}
.videos-wrapper .video-wrapper{
    width: 90%;
    height: 119px;
    background: grey;
}
.videos-wrapper .video-caption{
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.videos-wrapper .videos-sec .viewall-btn{
    font-size: 14px;
    line-height: 18px;
    background: #FFFFFF;
    padding: 9px 20px;
    margin: 23px 0 29px;
}

.quicklinks-sec .title{
    font-weight: bold;
    margin: 19px 0 24px;
}
.quicklinks-sec__list{
    list-style: none;
}
.quicklinks-sec__list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}
.quicklinks-sec__list li:last-child{
    margin-bottom: 0;
}
.quicklinks-sec__list li .list-title{
    font-size: 15px;
    margin-bottom: 0;
    color: #FFFFFF;
}
.quicklinks-sec__list li span{
    font-size: 24px;
}

.reachus-anchor{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.4);
    font-size: 15px;
    line-height: 18px;
    margin-top: 20px;
}
.reachus-anchor:hover{
    color: #FFFFFF;
}

.icon-right-arrow::after {
    content: "\e93b";
  }
/* commonly used classes*/
.comm-para{
    font-size: 15px;
    line-height: 18px;
    color: #333333;
}
